* {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
box-sizing: border-box;
}

header {
display: flex;
justify-content: space-between;
align-items: center;
}

#timer {
font-size: 24px;
font-weight: bolder;
}

a {
text-decoration: none;
}

h1 {
font-size: 44px;}

p {
width: 60%;
line-height: 1.5;
font-size: 22px;
}

#container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-weight: bold;
}

#wrapper {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 50%;
height: 50vh;
}

#startQuizBtn {
width: 14%;
height: 6%;
font-size: 18px;
font-weight: bold;
background-color: rgb(112, 67, 216);
color: white;
border-radius: 7%;
border-style: none;
cursor: pointer;
border: .5px solid black;
}

.answer-btn {
width: 100%;
height: 40%;
font-size: 18px;
font-weight: bold;
background-color: rgb(112, 67, 216);
color: white;
border-radius: 7%;
border-style: none;
cursor: pointer;
margin: 2% auto;
border: .5px solid black;
}

.list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
list-style-type: none;
padding: 0;
}

.list-text {
text-align: left;
}

.hide {
display: none;
}

#end-screen {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

#highscores {
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

#submit-btn {
width: 8%;
}

#initial-input {
font-size: 25px;
text-align: center;
}

.highscores-wrapper {
display: flex;
justify-content: center;
align-items: center;
}

.highscores-btns {
height: 3em;
margin: 0 10px;
}